.placesContainer {
  display: grid;
  grid-template-columns: 0.4fr 1.2fr;
  grid-template-rows: 3.5rem 1fr;
  grid-template-areas: "filter paginator" "table table";
}

table {
  width: 100%;
  margin-bottom: 2%;
  text-align: end;
  grid-area: table;
}
#filter {
  grid-area: filter;
}
#paginator {
  grid-area: paginator;
}

.mat-column-name {
  width: 80%;
  font-size: 1rem;
}
.mat-column-vicinity {
  width: 100%;
  font-size: 1rem;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
  align-items: center;
  text-align: start;
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
  .placesContainer {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 3.5rem 1fr;
    grid-template-areas: "filter paginator" "table table";
  }
}
