table {
  width: 100%;
  margin-bottom: 2%;
  text-align: end;
}

.mat-column-name {
  width: 80%;
  font-size: 1rem;
}
.mat-column-vicinity {
  width: 100%;
  font-size: 1rem;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
  align-items: center;
  text-align: start;
}
