<div class="searchContainer">
  <form class="example-form">
    <div class="address-search">
      <mat-form-field class="example-full-width" [style.width.px]="250">
        <mat-label><b>Address</b></mat-label>
        <input
          matInput
          required
          minlength="1"
          [value]="formatedAddress"
          (keyup)="onKeyAddress($event)"
          name="address"
        />
      </mat-form-field>
    </div>
    <div class="category-search">
      <mat-form-field [style.width.px]="250">
        <mat-label><b>Category</b></mat-label>
        <mat-select
          name="categories"
          id="categories"
          [(ngModel)]="categoryDefault"
          (ngModelChange)="onCategorySelected($event)"
        >
          <mat-option [value]="category.id" *ngFor="let category of categories">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="radius-search">
      <mat-form-field [style.width.px]="110">
        <mat-label><b>Radius (meters)</b></mat-label>
        <input
          matInput
          type="number"
          required
          min="0"
          max="50000"
          name="radius"
          id="radius"
          (keyup)="onKeyRadius($event)"
          [value]="radius"
        />
      </mat-form-field>
    </div>
    <div class="search-checkbox">
      <mat-checkbox
        #checkboxMarker
        class="example-margin"
        (click)="
          toggleSearchWithMarkerDraggingSelection(!checkboxMarker.checked)
        "
        ><label for="checkbox">Search by dragging marker</label></mat-checkbox
      >
      <mat-checkbox
        #checkboxCircle
        class="example-margin"
        (click)="toggleShowMarkerCircleSelection(!checkboxCircle.checked)"
        ><label for="checkbox">Show radius</label></mat-checkbox
      >
    </div>
    <div class="search-button">
      <button mat-raised-button color="primary" (click)="searchPlaces()">
        Search
      </button>
    </div>
  </form>
</div>
