<div class="searchContainer">
  <form class="example-form">
    <div class="address-search">
      <mat-form-field class="example-full-width" [style.width.px]="250">
        <mat-label><b>Adresa</b></mat-label>
        <input
          matInput
          required
          minlength="1"
          [value]="formatedAddress"
          (keyup)="onKeyAddress($event)"
          name="address"
        />
      </mat-form-field>
    </div>
    <div class="category-search">
      <mat-form-field [style.width.px]="250">
        <mat-label><b>Odaberite kategoriju</b></mat-label>
        <mat-select
          name="categories"
          id="categories"
          [(ngModel)]="categoryDefaultId"
          (ngModelChange)="onValueSelected($event)"
        >
          <mat-option [value]="category.id" *ngFor="let category of categories">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="radius-search">
      <mat-form-field [style.width.px]="110">
        <mat-label><b>Radijus u metrima</b></mat-label>
        <input
          matInput
          type="number"
          required
          name="radius"
          id="radius"
          (keyup)="onKeyRadius($event)"
          [value]="radius"
        />
      </mat-form-field>
    </div>
    <div class="search-checkbox">
      <mat-checkbox
        #checkboxMarker
        class="example-margin"
        (click)="
          toggleSearchWithMarkerDraggingSelection(!checkboxMarker.checked)
        "
        ><label for="checkbox">Pretraga pomicanjem markera</label></mat-checkbox
      >
      <mat-checkbox
        #checkboxCircle
        class="example-margin"
        (click)="toggleShowMarkerCircleSelection(!checkboxCircle.checked)"
        ><label for="checkbox">Prikaži radijus</label></mat-checkbox
      >
    </div>
    <div class="search-button">
      <button
        mat-raised-button
        color="primary"
        (click)="searchPlacesEvent.emit()"
      >
        Pretraga
      </button>
    </div>
  </form>
</div>
